.container{
  height: 1050px;
}
.title{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.mainTitle, .subTitle{
  font-family: var(--main-kr-font);
  font-size: 40px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  text-align: center;
}
.subTitle{
  resize: none;
  height: 150px;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 50px;
  white-space: pre-wrap;
}
.imgContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
}
.content{
  width: 30%;
}
.bg{
  position: relative;
  transform: translateY(-300px);
  z-index: -1;
  width: 100%;
  height: 500px;
  background-color: #E5CCAF;
}
.changeBg{
  transform: translateY(-300px);
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.select select{
  width: 180px;
  height: 30px;
  font-size: 18px;
}
.select,.select option{
  font-size: 18px;
}
.input{
  font-size: 18px;
}
@media screen and (max-width:1280px){
  .descTitle{
    font-size: 80px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width:1024px){
  .number{
    font-size: 200px;
  }
  .descDetail{
    left: 0;
  }
}
@media screen and (max-width:968px){
  .number{
    font-size: 200px;
  }
  .descTitle{
    font-size: 50px;
  }
  .descDetail{
    font-size: 16px;
  }
  .img{
    min-height: 400px;
  }
  .cover{
    height: 400px;
  }
  .bg{
    height: 300px;
  }
  .imgContent{
    height: 350px;
  }
  .changeBg{
    transform: translateY(-190px);
  }
}
@media screen and (max-width:764px){
  .container{
    height: 600px;
  }
  .content{
    height: 250px;
  }
  .mainTitle{
    font-size: 30px;
  }
  .subTitle{
    font-size: 16px;
  }
  .number{
    font-size: 100px;
  }
  .descTitle{
    top: 80px;
    left: 5px;
    font-size: 40px;
  }
  .descDetail{
    top: 80px;
    font-size: 12px;
  }
  .cover{
    height: 250px;
  }
  .img{
    min-height: 250px;
  }
  .bg{
    height: 200px;
    transform: translateY(-250px);
  }
}