.container{
  width: 80%;
  margin: 0 auto;
}
.slider{
  width: 100%;
  height: 30vh;
  border: 1px solid #6d6d6d;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #686666;
}
.btn{
  margin: 20px auto;
  text-align: right;
}

@media screen and (max-width:1240px){

}
@media screen and (max-width:1024px){
  .container{
    width: 85%;
    margin: 0 auto;
  }
}
@media screen and (max-width:960px){
  .container{
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width:768px){
  .container{
    width: 95%;
    margin: 0 auto;
  }

}