.container{
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
.mainTitle{
  font-family: var(--main-kr-font);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.sliderContent{
  width: 100%;
  max-width: max-content;
  height: 700px;
  margin:  0 auto;
}
.img{
  width: 100%;
  height: 650px;
}
.content{
  display: flex;
  flex-direction: column;
  font-family: var(--main-kr-font);
}
.TITLE{
  font-size: 40px;
  font-weight: bold;
}
.DETAIL_DESCRIPTION{
  white-space: pre-wrap;
  font-size: 20px;
}
.summaryContainer{
  display: flex;
  justify-content: flex-end;
}
.summary{
  display: flex;
  flex-direction: column;
}
.serviceContainer{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.serviceTitle{
  width: 20%;
  font-size: 20px;
}
.service{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap:wrap;
}
.item{
  width: 25%;
  font-family: var(--main-kr-font);
}
.mbBtn{
  display: none;
}
.desktopBtn{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  margin: 20px 0;
}
.icon{
  font-size: 16px;
  margin: 0 10px;
}


@media screen and (max-width:1280px){
  .container{
    width: 1000px;
  }
 .TITLE{
  font-size: 30px;
  }
  .DETAIL_DESCRIPTION{
  font-size: 18px;
  }
}
@media screen and (max-width:1024px){
  .container{
    width: 95%;
  }
}
@media screen and (max-width:768px){
  .sliderContent{
  height: 550px;
}
  .img{
  max-height: 500px;
  }
   .TITLE{
  font-size: 20px;
  }
  .DETAIL_DESCRIPTION{
  font-size: 12px;
  height: max-content;
  margin: 20px 0;
  }
  .serviceTitle,.item{
    font-size: 12px;
    width: 33%;
  }
  .summaryContainer{
    margin-right: 15px;
  }
   .summary{
    font-size: 12px;
  }
  .mbBtn{
  display: block;
  text-align: right;
  margin: 20px 20px;
  }
  .desktopBtn{
    display: none;
  }
}