.container{
  min-height: 700px;
}
.mainTitle{
  font-family: var(--main-kr-font);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.subTitle{
  width: 90%;
  margin:  0 auto;
  font-family: var(--main-kr-font);
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid #B7B7B7;
}
.txt2{
  margin-bottom: 20px;
}
.roomCard{
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  margin: 20px auto;
}
@media screen and (max-width : 768px){
  .subTitle{
    font-size: 20px;
  }
}