.container{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
}
.first, .second, .thirth{
  display: flex;
  justify-content: center;
}
.img, .description{
  width: 50%;
  text-align: center;
  z-index: 99;
}
.img img{
  cursor: pointer;
  width: 400px;
  height: 450px;
}
.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--main-eg-font);
  white-space: pre-wrap; 
}
.title{
  border: none;
  text-align: center;
  touch-action: none;
  font-size: 45px;
  background-color: transparent;
  font-weight: bold;
}
.subTitle, .subTitle textarea{
  resize: none;
  border: none;
  font-family: var(--main-eg-font);
  touch-action: none;
  background-color: transparent;
  font-size: 20px;
  width: 100%;
  height: auto;
  color: #676767;
}
.subTitle textarea{
  width: 100%;
  height: 100px;
  text-align: center;
 }
 .bg2Input{
  display: none;
}
@media screen and (max-width:1240px){
  .img img{
    width: 300px;
    height: 350px;
  }
  .title{
    font-size: 35px;
  }
  .subTitle textarea{
    font-size: 18px;  
  }
}
@media screen and (max-width:1024px){
  .img img{
    width: 250px;
    height: 300px;
  }
  .title{
    font-size: 30px;
  }
}
@media screen and (max-width:960px){
  .container{
    width: 90%;
  }
  .img img{
    width: 200px;
    height: 250px;
  }
  .title{
    font-size: 25px;
  }
  .subTitle textarea{
    font-size: 14px;  
  }
}

@media screen and (max-width:768px){
  .container{
    width: 95%;
  }
  .img img{
    width: 120px;
    height: 170px;
  }
  .title{
    font-size: 20px;
  }
  .subTitle textarea{
    font-size: 12px;  
  }
}
