.hiddenContainer{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  left: -3000px;
  top: 0;
  z-index: 99;
  background-color: var(--sideNavbar-bg-graysand); 
  transition: all 1s;
  touch-action: pan-y;
}
.container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  background-color: var(--sideNavbar-bg-graysand);
  touch-action: pan-y;
  transition: all 1s;
}
.close{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 24px;
  color: var(--sideNavbar-font-graysand);
  touch-action: pan-y;
  cursor: pointer;
}
.list{
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100vh;
  justify-content: space-around;
  touch-action: pan-y;
  align-items: center;
}
.option1,
.option2,
.option3,
.option4,
.option5,
.option6,
.option7,
.options{
  font-family: var(--main-eg-font);
  color: var(--sideNavbar-font-graysand);
  text-transform: uppercase;
  touch-action: pan-y;
  font-size: 24px;
}
.option1,
.option2,
.option3,
.option4,
.option5{
  touch-action: pan-y;
  cursor: pointer;
}
.option1:hover,
.option2:hover,
.option3:hover,
.option4:hover,
.option5:hover,
.option6:hover,
.option7:hover{
  touch-action: pan-y;
  text-decoration: underline;
}
.options{
  touch-action: pan-y;
  text-align: center;
}
.snb{
  width: 300px;
  display: flex;
  justify-content: space-between;
  touch-action: pan-y;
  margin-top: 10px;
}
.option6, .option7{
  font-size: 22px;
  touch-action: pan-y;
  cursor: pointer;
}
.sns{
  font-size: 24px;
  text-align: center;
  font-family: var(--main-eg-font);
  touch-action: pan-y;
  text-transform: uppercase;
  color: var(--sideNavbar-font-graysand);
}
.snsContainer{
  display: flex;
  justify-content: space-between;
  width: 300px;
  font-size: 30px;
  margin-top: 30px;
  touch-action: pan-y;
}
.instar:hover, .facebook:hover, .naver:hover{
  color: var(--main-font-strong-color);
  cursor: pointer;
}
.container::-webkit-scrollbar{
  display: none;
}
.loggin{
  display: flex;
  font-family: var(--main-kr-font);
  font: 500;
  font-size: 20px;
  touch-action: pan-y;
  cursor: pointer;
}

@media screen and (max-width:1024px){
  
}
@media screen and (max-width:768px){
 .list{
  padding: 0;
  height: 85vh;
  margin-top: 30px;
 }
 .snb{
  margin-top: 20px;
 }
}