.kakaobtn{
  width: 400px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #a9a5a5;
  transition: scale 0.2s;
  background-color:	#FEE500;
  overflow: hidden;
  cursor: pointer;
}
.kakaoLogo{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.kakaoImg{
  width: 15%;
}
.kakaoImg img{
  width: 55%;
  height: 55%;
}
.kakaoTxt{
  font-size: 20px;
  color: #000;
  width: 80%;
  font-family: var(--main-eg-font);
  font-weight: 600;
}
@media screen and (max-width : 768px){
  .kakaobtn{
    width: 300px;
    height: 55px;
  }
}