.container{
  width: 100%;
}
.bg1Input{
  display: none;
}
.img{
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  cursor: pointer;
}
.content{
  position: relative;
  top: -250px;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: flex-end;
}
.description{
  width: 500px;
  height: 250px;
  background-color: #fff;
  font-family: var(--main-kr-font);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.subDesc{
  white-space: pre-wrap;
  resize: none;
  height: 30%;
  font-size: 16px;
  background-color: transparent;
  font-family: var(--main-kr-font);
  border: none;
  text-align: center;
}
.title{
  font-size: 30px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  text-align: center;
}
.linkDesc{
  font-size: 24px;
  color: #08B174;
  cursor: pointer;
}
.linkDesc:hover{
  color: var(--main-font-strong-color);
}

@media screen and (max-width:1280px){
  
}
@media screen and (max-width:1024px){
  
}
@media screen and (max-width:968px){
  
}
@media screen and (max-width:764px){
  .container{
    margin-top: 150px;
  }
  .img{
    min-height: 400px;
  }
  .content{
    top: -150px;
    height: 150px;
  }
  .description{
    width: 280px;
    height: 150px;
  }
  .title{
    font-size: 20px;
    font-weight: bold; 
  }
  .subDesc,.linkDesc{
    font-size: 13px;
  }
}