.container{
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  height: 300px;
  background-color: #F0EDEA;
  justify-content: space-around;
  box-shadow: 3px 5px 15px 0px #686666;
  margin: 20px;
}
.imgContent{
  width: 45%;
  height: 80%;
  cursor: pointer;
}
.img{
  width: 100%;
  height: 100%;
}
.section{
  width: 45%;
  height: 75%;
  padding: 5px;
  overflow: hidden;
}
.title,.content{
  font-family: var(--main-kr-font);
  color: var(--main-font-color);
}
.title{
  font-size: 20px;
  font-weight: bold;
}
.content{
  height: 100%;
  overflow: scroll;
  text-overflow: ellipsis;
}
.content::-webkit-scrollbar{
  width: 10px;
}
.content::-webkit-scrollbar-track{
   background-color: #F0EDEA;
   border-radius: 10px;
}
.content::-webkit-scrollbar-thumb{
  background-color: #2F4858;
  border-radius: 10px;
}
.remove{
  width: 5%;
}
.removeIcon{
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #f00;
}
.summary{
  display: flex;
  width: 100%;
}
.summaryDetail{
  color: var(--main-font-color);
  margin: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


@media screen and (max-width:1280px){

}
@media screen and (max-width:1150px){
  
}
@media screen and (max-width:1024px){
  
}
@media screen and (max-width:960px){
  .container{
    height: 250px;
  }
  .imgContent{
    width: 30%;
    height: 60%;
  }
  .section{
    width: 55%;
    height: 60%;
  }
  .removeIcon{
    margin: 5px;
  }
  .summary{
    flex-wrap: wrap;
  }
  .content::-webkit-scrollbar{
    width: 5px;
    height: 5px;
  }
}
@media screen and (max-width:768px){
   .container{
    height: 200px;
  }
  .removeIcon{
    margin: 1px;
  }
  .imgContent{
    width: 25%;
    height: 50%;
  }
  .section{
    height: 50%;
  }
  .title{
    font-size: 14px;
  }
  .content{
    font-size: 12px;
  }
  .summary{
    height: 30%;
  }
  .summaryDetail{
    font-size: 12px;
    margin: 5px;
    height: auto;
  }
}