.container{
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 700px;
  touch-action: pan-y;
}
.mainTitle{
  font-family: var(--main-kr-font);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}


@media screen and (max-width:1200px){
  .container{
    width: 1000px;
  }
}
@media screen and (max-width:1024px){
  .container{
    width: 100%;
  }
  .mainTitle{
    font-size: 30px;
  }
}
@media screen and (max-width:768px){

}